.content {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: mediumspringgreen;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;

}

#inbox {
    width: 100%;
}

#length {
    display: inline-block;
    width: 100px;
}